<app-main-layout>
  <h1 class="font-semibold my-[1rem] text-[2rem]">Product List</h1>
  <div class="filter">
    <p class="text-[1.2rem]">Filter: <input value="{{filter}}" class="border border-[#000] border-solid ml-[2rem]"
                                            type="text"/>
    <h2 class="font-semibold my-[1rem] text-[2rem]">Filter by: {{ filter }}</h2>
  </div>
  <div class="main-container mt-[2rem]">
    <div class="thead grid grid-cols-7 text-center text-[1.2rem] font-semibold">
      <div class="">Image</div>
      <div class="col-start-2 col-end-4">Product</div>
      <div class="">Code</div>
      <div class="">Available</div>
      <div class="">Price</div>
      <div class="">5 Star Rating</div>
    </div>
    <div class="body grid auto-rows-auto mt-[1rem] gap-[1rem] text-[1.2rem]">
      @for (product of products; track product.productId) {
        <div class="row grid grid-cols-7 justify-items-center gap-[1rem]">
          <img class="w-[5rem] h-auto[3rem]" src="{{product.imageUrl}}" alt="{{product.productName}}"
               title="{{product.productName}}">
          <div class="flex items-center justify-center col-start-2 col-end-4">{{ product.productName }}</div>
          <div class="flex items-center justify-center">{{ product.productCode }}</div>
          <div class="flex items-center justify-center">{{ product.releaseDate }}</div>
          <div class="flex items-center justify-center">{{ product.price }}</div>
          <div class="overflow-hidden flex items-center justify-start" [style.width.px]="(product.starRating * 110) / 5" title="rating">
            <div style="width: 110px; white-space: nowrap;">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</app-main-layout>
